<div class="card p-3 m-auto mt-5" style="width: 400px;">
  <%= form_for @menu do |menu_form| %>
    <div class="my-2 ">
      <h2>
        <%= menu_form.label :date %>
      </h2>
      <div>
        <%= menu_form.date_select :date %>
      </div>
    </div>

    <% Category.all.each do |category|  %>
      <%= category.category %>
        <% category.dishes.each  do | dish| %>
          <%= menu_form.fields_for :dish_menus do |dish_menus_form| %>
            <div class="d-flex justify-content-between align-items-center my-1">
              <div class="mb-1 mx-2">
                <%= dish_menus_form.check_box :included, checked: dish_included_in_menu?(@menu.id, dish.id) %>
              </div>
              <h5>  <%= dish.name %> </h5>
              <div class="d-flex justify-content-end align-items-center ">
                <%= dish_menus_form.label :price, '$' %>
                <span class="mx-2"> <%= dish.price_type %> </span>
                <%= dish_menus_form.text_field :price,
                                               value: dish_price_in_menu(@menu.id, dish.id),
                                               class: "form-control w-25 " %>
                <%= dish_menus_form.hidden_field :dish_id, value: dish.id %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>


    <div class="text-center">
      <%= menu_form.submit  class:"btn btn-primary" %>
    </div>
  <% end %>
</div>