<% @menus.each do |m| %>
  <div class="card px-0  m-1" style="width: 32%;" >
    <div class="card-header d-flex px-3 justify-content-between align-center" style="background-color: #8EB3CD;">
      <h5 class=" d-flex card-title m-2 "><%= m.date %></h5>
      <span class="d-flex">
        <%= button_to m, method: :delete, class:"btn px-2" do %>
          <i class="fa-solid fa-trash"></i>
        <%end %>
        <%= link_to  edit_menu_path(m[:id]), class:"btn px-2" do %>
          <i class="fa-solid fa-gear"></i>
        <%end %>
      </span>
    </div>
    <div class="card-body justify-content-between mx-2">
        <% total = 0 %>
        <%  m.dish_menus.each_with_index  do |dish, index|%>
          <% total += dish.price %>
            <div class="d-flex justify-content-between">
             <div>
               <%= index + 1 %>
               "<%= @dishes.find(dish.dish_id).name %>"
             </div>
             <div>
               <%= dish_price_type(dish.dish_id) %>
                /
               <%=  dish.price  %> $
             </div>
            </div>
        <% end %>
    </div>
    <div class="card-footer text-muted d-flex justify-content-end">
       <span class="m-2"> <b>Total:</b> <%= total %> $ </span>
    </div>
  </div>
<% end %>
