<% @menus.each do |m| %>
  <div class="card px-0 m-1 " style="width: 32%;" >
    <div class="card-header d-flex px-3 justify-content-between align-center" style="background-color: #8EB3CD;">
      <h5 class=" d-flex card-title m-2 "><%= m.date %></h5>
      <span class="d-flex">
        <%= button_to m, method: :delete, class:"btn px-2" do %>
          <i class="fa-solid fa-trash"></i>
        <%end %>
        <%= link_to  edit_menu_path(m[:id]), class:"btn px-2" do %>
          <i class="fa-solid fa-gear"></i>
        <%end %>
      </span>
    </div>
    <div class="card-body justify-content-between">
        <%  m.dishes.each do |d|%>
            <%=  d.price  %>
            <%=  d.name  %>

        <% end %>
      <%= @dishMenu.inspect %>

    </div>
    <div class="card-footer text-muted d-flex justify-content-end">
       <span class="m-2"> <b>Total:</b>  </span>
    </div>
  </div>

<% end %>


<!--<div class=" gap-2" >-->
  <%# acc = [] %>
  <%# total = 0 %>
  <%# m.dishes.each {|idx| acc << @dishes.find(idx) if !idx.empty?} %>

  <%# acc.group_by{ |dish| dish[:category_id]}.each  do |key, val| %>
<!--    <ul class="list-group">-->
<!--      <span class="fw-bold text-center mb-2">  <%#= @categories.find(key).category %> </span>-->
      <%# val.each do |dish| %>
<!--        <li class="list-group-item d-flex justify-content-between" >-->
          <%#= dish[:name] %>
<!--          <span>-->
                  <%# total += dish[:price] %>
<!--            <%#= render_dish_type(dish[:price_type])  %>  /  <%#= dish[:price] %>-->
<!--                </span>-->
<!--        </li>-->
      <%# end %>
<!--    </ul>-->
  <%# end %>
<!--</div>-->

<!--[nil, [#<Dish id: 1, name: "Margarita", category_id: 1, price_type: "By Item", price: 222, created_at: "2022-07-12 17:39:26", updated_at: "2022-07-12 17:39:26">]]-->