<h1> Editing Menu # <%= @menu.id %> </h1>

<%= form_for @menu do |f| %>
  <%= f.label :date %>
  <%=f.date_select :date %>
  <%= f.label :dishes %>
  <%= f.collection_check_boxes :dish_ids, Dish.all, :id, :name, checked: @menu.dish_ids %>
  <%= f.submit %>
<% end %>