<h1 class="text-center">Menus collection</h1>
<div class="row mt-4 m-0  d-flex flex-row">
  <% @menus.each do |m| %>

    <div class="card col-4 px-0 m-1 min-width-25" style="min-width: 66px;">
      <div class="card-header d-flex px-2 justify-content-between">
        <div  class="d-flex justify-content-between">
          <h5 class=" d-block card-title"><%= m.date %></h5>
          <span class="mx-2"><%= link_to 'ℹ️', m %></span>
        </div>
        <div class="d-flex align-self-start">
          <%= button_to "❌", m, method: :delete, class: "btn "%>
          <%= link_to "Edit", edit_menu_path(m[:id]) %>
        </div>
      </div>
      <div class="card-body justify-content-between">
        <div class=" gap-2" >
          <% acc = [] %>
          <% m.dishes.reject!(&:empty?).each do |idx| %>
            <% dish = @dishes.find(idx) %>
            <% acc << {
              category: dish.category_id,
              name: dish.name,
              price: dish.price,
              price_type: dish.price_type
            } %>
          <% end %>
          <% acc = acc.group_by{ |d| d[:category]} %>

          <% acc.each  do |key, val| %>
            <ul class="list-group">
              <sapn class="fw-bold text-center my-2">  <%= @categories.find(key).category %>s </sapn>
              <% val.each do |dish| %>
                <li class="list-group-item d-flex justify-content-between" >
                  <%= dish[:name] %>
                  <span>
                    <%= dish[:price_type] == 'By Weight' ? 1 : 100 %>
                    /
                    <%=  dish[:price] %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>

    </div>

  <% end %>

  <div class="h5 text-warning">
    <%= link_to 'Back to Main', dishes_path %>
  </div>

</div>
