<h2 class='text-center my-5'> <%=@dish.name.capitalize %> Details</h2>
<div class="d-flex justify-content-center">
  <div class='p-3 card w-25 p-5'>
    <span>
      <b>Name:</b>
      <%=@dish.name.capitalize %>
    </span>
    <span>
      <b>Price: </b>
      <%= @dish.price%>
    </span>
    <span>
      <b>Category: </b>
      <%= @category.category%>
    </span>
    <span>
     <b>Price type: </b>
      <%= @dish.price_type %>
    </span>
    <hr class="mx-1">
    <div class='mt-1 btn-group d-flex justify-content-center'>
      <%= button_to dish_path, method: :delete, class:"btn px-4" do %>
        <i class="fa-solid fa-trash"></i>
      <%end %>
      <div>
        <%= link_to  edit_dish_path , class:"btn px-4" do %>
          <i class="fa-solid fa-gear"></i>
        <%end %>
      </div>
    </div>
  </div>
</div>