
<div class=" d-flex my-3">
  <h2> Categories </h2>
  <%= link_to "➕", new_category_path, class: 'text-decoration-none' %>
</div>

<div id="categories row " >
  <% @categories.each do |category| %>
      <ul class=" mb-2 list-group ">
        <li class=" fw-bold list-group-item w-25 d-flex justify-content-between">
          <%= category.category %>
        <span class="d-flex">
            <%= link_to 'ℹ️', edit_category_path(category[:id]), class:"btn px-1" %>
          <%= button_to "❌", category, method: :delete, class:"btn px-1"%>
        </span>
        </li>
    </ul>
  <% end %>

  <%= link_to "Add new", new_category_path, class: 'text-decoration-none' %>

</div>


