<!DOCTYPE html>
<html>
  <head>
    <title>RailsMenu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <%= link_to 'Home',dishes_path, class: "nav-item nav-link" %>
        <%= link_to 'Categories',categories_path, class: "nav-item nav-link" %>
        <%= link_to 'Menus',menus_path, class: "nav-item nav-link" %>
      </div>
    </div>
  </nav>
  <div class='container mt-4'>
    <% if flash[:notice].present? %>
      <p class='text-center mt-3 alert alert-warning alert-dismissible fade show'>
        <%= flash[:notice]%>
      </p>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
